*
{
    margin: 0;
    padding: 0;
}

label
{
    margin-bottom: 0;
}

.mdl-textfield--floating-label.is-focused .mdl-textfield__label,
.mdl-textfield--floating-label.is-dirty .mdl-textfield__label,
.mdl-textfield--floating-label.has-placeholder .mdl-textfield__label
{
    color:rgb(30, 230, 30);
}

.mdl-textfield--floating-label.is-invalid .mdl-textfield__label { color: #d50000; }

.mdl-textfield--floating-label .mdl-textfield__label::after{ background-color: rgb(30, 230, 30);}
